<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanManager.mapper.BomInfoMapper">

	<!-- 콤보박스 셋 START -->
	<select id="selectBomProdNm" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT prod_nm
		  FROM HANADMIN.BOM_INFO mi 
		 WHERE 1=1
		 <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(KIND)">
		   AND mi.kind = #{KIND}
		 </if>
	</select>
	
	<select id="selectBomProdDtlNm" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT prod_dtl_nm 
		  FROM HANADMIN.BOM_INFO mi 
		 WHERE 1=1
		 <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(KIND)">
		   AND mi.kind = #{KIND}
		 </if>
		 <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(PROD_NM)"> 
		   AND mi.prod_nm = #{PROD_NM}
		 </if>
	</select>
	
	<select id="selectBomProdId" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT prod_id 
		  FROM HANADMIN.BOM_INFO mi 
		 WHERE 1=1
		 <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(KIND)">
		   AND mi.kind = #{KIND}
		 </if>
		 <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(PROD_NM)"> 
		   AND mi.prod_nm = #{PROD_NM}
		 </if>
		 <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(PROD_DTL_NM)">
		   AND mi.prod_dtl_nm = #{PROD_DTL_NM}
		 </if>  
	</select>
	<!-- 콤보박스 셋 END -->
	
	<select id="selectBomInfoList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	/* BomInfoMapper.selectBomInfoList */
		SELECT PROD_ID
			, KIND
			, PROD_NM
			, PROD_DTL_NM
			, THICKNESS_1
			, THICKNESS_2
			, THICKNESS_3
			, THICKNESS_4
			, THICKNESS_5
			, THICKNESS_6
			, MESH
			, MESH_OUT
			, BIGO
			, to_char(CREATE_DATE, 'YYYY.MM.DD') CREATE_DATE
			, CREATE_USER
			, to_char(UPDATE_DATE, 'YYYY.MM.DD') UPDATE_DATE
			, UPDATE_USER
		FROM hanadmin.bom_info
	   WHERE 1=1
	   <if test='PROD_ID != null and !PROD_ID.equals("")'>
	   	   AND PROD_ID = #{PROD_ID}
	   </if>
	   <if test='KIND != null and !KIND.equals("")'>
	   	   AND KIND = #{KIND}
	   </if>
	   <if test='PROD_NM != null and !PROD_NM.equals("")'>
	   	   AND PROD_NM = #{PROD_NM}
	   </if>
	   <if test='PROD_DTL_NM != null and !PROD_DTL_NM.equals("")'>
	   	   AND PROD_DTL_NM = #{PROD_DTL_NM}
	   </if>
	   ORDER BY PROD_ID
	</select>
	
	<insert id="insertBomInfo" parameterType="java.util.HashMap" >
	/* BomInfoMapper.insertBomInfo */
		INSERT INTO hanadmin.bom_info
		(	
			PROD_ID
			, KIND
			, PROD_NM
			, PROD_DTL_NM
			, THICKNESS_1
			, THICKNESS_2
			, THICKNESS_3
			, THICKNESS_4
			, THICKNESS_5
			, THICKNESS_6
			, MESH
			, MESH_OUT
			, BIGO
			, CREATE_DATE
			, CREATE_USER
			, UPDATE_DATE
			, UPDATE_USER
		)
		VALUES
		(
			#{PROD_ID}
			, #{KIND}
			, #{PROD_NM}
			, #{PROD_DTL_NM}
			, #{THICKNESS_1}
			, #{THICKNESS_2}
			, #{THICKNESS_3}
			, #{THICKNESS_4}
			, #{THICKNESS_5}
			, #{THICKNESS_6}
			, #{MESH}
			, #{MESH_OUT}
			, #{BIGO}
			, SYSDATE
			, #{CREATE_USER}
			, SYSDATE
			, #{UPDATE_USER}
		)
		
	</insert>
	
	<update id="updateBomInfo" parameterType="java.util.HashMap">
	/* BomInfoMapper.updateBomInfo */
		UPDATE hanadmin.bom_info 
		   SET KIND = #{KIND}
			   , PROD_NM = #{PROD_NM}
			   , PROD_DTL_NM = #{PROD_DTL_NM}
			   , THICKNESS_1 = #{THICKNESS_1}
			   , THICKNESS_2 = #{THICKNESS_2}
			   , THICKNESS_3 = #{THICKNESS_3}
			   , THICKNESS_4 = #{THICKNESS_4}
			   , THICKNESS_5 = #{THICKNESS_5}
			   , THICKNESS_6 = #{THICKNESS_6}
			   , MESH = #{MESH}
			   , MESH_OUT = #{MESH_OUT}
			   , BIGO = #{BIGO}
			   , CREATE_DATE = SYSDATE
			   , CREATE_USER = #{CREATE_USER}
			   , UPDATE_DATE = SYSDATE
			   , UPDATE_USER = #{UPDATE_USER}
		WHERE 1=1
		<if test='PROD_ID != null and !PROD_ID.equals("")'>
	    	AND PROD_ID = #{PROD_ID}
	    </if>
	</update>
	
	<delete id="deleteBomInfo" parameterType="java.util.HashMap">
	/* BomInfoMapper.deleteBomInfo */
		DELETE FROM hanadmin.bom_info 
		 WHERE 1=1 
		 <if test='PROD_ID != null and !PROD_ID.equals("")'>
	    	 AND PROD_ID = #{PROD_ID}
	     </if>
	</delete>
	
	
	<select id="selectBomInfoCoatingList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	/* BomInfoMapper.selectBomInfoCoatingList */
		SELECT PROD_ID
			, KIND
			, PROD_NM
			, PROD_DTL_NM
			, SUM_WEIGHT
			, PWD_WEIGHT
			, BIGO
			, to_char(CREATE_DATE, 'YYYY.MM.DD') CREATE_DATE
			, CREATE_USER
			, to_char(UPDATE_DATE, 'YYYY.MM.DD') UPDATE_DATE
			, UPDATE_USER
		FROM hanadmin.bom_info_coating
	   WHERE 1=1
	   <if test='PROD_ID != null and !PROD_ID.equals("")'>
	   	   AND PROD_ID = #{PROD_ID}
	   </if>
	   <if test='KIND != null and !KIND.equals("")'>
	   	   AND KIND = #{KIND}
	   </if>
	   <if test='PROD_NM != null and !PROD_NM.equals("")'>
	   	   AND PROD_NM = #{PROD_NM}
	   </if>
	   <if test='PROD_DTL_NM != null and !PROD_DTL_NM.equals("")'>
	   	   AND PROD_DTL_NM = #{PROD_DTL_NM}
	   </if>
	   ORDER BY PROD_ID
	</select>
	
	<insert id="insertBomInfoCoating" parameterType="java.util.HashMap" >
	/* BomInfoMapper.insertBomInfoCoating */
		INSERT INTO hanadmin.bom_info_coating 
		(	
			PROD_ID
			, KIND
			, PROD_NM
			, PROD_DTL_NM
			, SUM_WEIGHT
			, PWD_WEIGHT
			, BIGO
			, CREATE_DATE
			, CREATE_USER
			, UPDATE_DATE
			, UPDATE_USER
		)
		VALUES
		(
			#{PROD_ID}
			, #{KIND}
			, #{PROD_NM}
			, #{PROD_DTL_NM}
			, #{SUM_WEIGHT}
			, #{PWD_WEIGHT}
			, #{BIGO}
			, SYSDATE
			, #{CREATE_USER}
			, SYSDATE
			, #{UPDATE_USER}
		)
	</insert>
	
	<update id="updateBomInfoCoating" parameterType="java.util.HashMap">
	/* BomInfoMapper.updateBomInfoCoating */
		UPDATE hanadmin.bom_info_coating 
		   SET KIND = #{KIND}
			   , PROD_NM = #{PROD_NM}
			   , PROD_DTL_NM = #{PROD_DTL_NM}
			   , SUM_WEIGHT = #{SUM_WEIGHT}
			   , PWD_WEIGHT = #{PWD_WEIGHT}
			   , BIGO = #{BIGO}
			   , CREATE_DATE = SYSDATE
			   , CREATE_USER = #{CREATE_USER}
			   , UPDATE_DATE = SYSDATE
			   , UPDATE_USER = #{UPDATE_USER}
		WHERE 1=1
		<if test='PROD_ID != null and !PROD_ID.equals("")'>
	    	AND PROD_ID = #{PROD_ID}
	    </if>
	</update>
	
	<delete id="deleteBomInfoCoating" parameterType="java.util.HashMap">
	/* BomInfoMapper.deleteBomInfoCoating */
		DELETE FROM hanadmin.bom_info_coating 
		 WHERE 1=1 
		 <if test='PROD_ID != null and !PROD_ID.equals("")'>
	    	 AND PROD_ID = #{PROD_ID}
	     </if>
	</delete>
	
	
	<select id="selectBomInfoPackingList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	/* BomInfoMapper.selectBomInfoPackingList */
		SELECT PROD_ID
			, KIND
			, PROD_NM
			, PROD_DTL_NM
			, POP_NM
			, POP_ID
			, POP_CNT
			, BOX_NM
			, BOX_ID
			, BOX_CNT
			, BIGO
			, to_char(CREATE_DATE, 'YYYY.MM.DD') CREATE_DATE
			, CREATE_USER
			, to_char(UPDATE_DATE, 'YYYY.MM.DD') UPDATE_DATE
			, UPDATE_USER
		FROM hanadmin.bom_info_packing
	   WHERE 1=1
	   <if test='PROD_ID != null and !PROD_ID.equals("")'>
	   	   AND PROD_ID = #{PROD_ID}
	   </if>
	   <if test='KIND != null and !KIND.equals("")'>
	   	   AND KIND = #{KIND}
	   </if>
	   <if test='PROD_NM != null and !PROD_NM.equals("")'>
	   	   AND PROD_NM = #{PROD_NM}
	   </if>
	   <if test='PROD_DTL_NM != null and !PROD_DTL_NM.equals("")'>
	   	   AND PROD_DTL_NM = #{PROD_DTL_NM}
	   </if>
	   ORDER BY PROD_ID
	</select>
	
	<insert id="insertBomInfoPacking" parameterType="java.util.HashMap" >
	/* BomInfoMapper.insertBomInfoPacking */
		INSERT INTO hanadmin.bom_info_packing 
		(	
			PROD_ID
			, KIND
			, PROD_NM
			, PROD_DTL_NM
			, POP_NM
			, POP_ID
			, POP_CNT
			, BOX_NM
			, BOX_ID
			, BOX_CNT
			, BIGO
			, CREATE_DATE
			, CREATE_USER
			, UPDATE_DATE
			, UPDATE_USER
		)
		VALUES
		(
			#{PROD_ID}
			, #{KIND}
			, #{PROD_NM}
			, #{PROD_DTL_NM}
			, #{POP_NM}
			, #{POP_ID}
			, #{POP_CNT}
			, #{BOX_NM}
			, #{BOX_ID}
			, #{BOX_CNT}
			, #{BIGO}
			, SYSDATE
			, #{CREATE_USER}
			, SYSDATE
			, #{UPDATE_USER}
		)
		
	</insert>
	
	<update id="updateBomInfoPacking" parameterType="java.util.HashMap">
	/* BomInfoMapper.updateBomInfoPacking */
		UPDATE hanadmin.bom_info_packing 
		   SET KIND = #{KIND}
			   , PROD_NM = #{PROD_NM}
			   , PROD_DTL_NM = #{PROD_DTL_NM}
			   , POP_NM = #{POP_NM}
			   , POP_ID = #{POP_ID}
			   , POP_CNT = #{POP_CNT}
			   , BOX_NM = #{BOX_NM}
			   , BOX_ID = #{BOX_ID}
			   , BOX_CNT = #{BOX_CNT}
			   , BIGO = #{BIGO}
			   , CREATE_DATE = SYSDATE
			   , CREATE_USER = #{CREATE_USER}
			   , UPDATE_DATE = SYSDATE
			   , UPDATE_USER = #{UPDATE_USER}
		WHERE 1=1
		<if test='PROD_ID != null and !PROD_ID.equals("")'>
	    	AND PROD_ID = #{PROD_ID}
	    </if>
	</update>
	
	<delete id="deleteBomInfoPacking" parameterType="java.util.HashMap">
	/* BomInfoMapper.deleteBomInfoPacking */
		DELETE FROM hanadmin.bom_info_packing 
		 WHERE 1=1 
		 <if test='PROD_ID != null and !PROD_ID.equals("")'>
	    	 AND PROD_ID = #{PROD_ID}
	     </if>
	</delete>

</mapper>