<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanManager.mapper.MtrlsInfoMapper">

	<select id="selectMtrlsInfoList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	/* MtrlsInfoMapper.selectMtrlsInfoList */
		SELECT PROD_ID
			, KIND
			, PROD_NM
			, PROD_DTL_NM
			, to_char(CREATE_DATE, 'YYYY.MM.DD') CREATE_DATE
			, CREATE_USER
			, to_char(UPDATE_DATE, 'YYYY.MM.DD') UPDATE_DATE
			, UPDATE_USER
		FROM hanadmin.mtrls_info
	   WHERE 1=1
	   <if test='PROD_ID != null and !PROD_ID.equals("")'>
	   	   AND PROD_ID = #{PROD_ID}
	   </if>
	   <if test='KIND != null and !KIND.equals("")'>
	   	   AND KIND = #{KIND}
	   </if>
	   <if test='PROD_NM != null and !PROD_NM.equals("")'>
	   	   AND PROD_NM = #{PROD_NM}
	   </if>
	   <if test='PROD_DTL_NM != null and !PROD_DTL_NM.equals("")'>
	   	   AND PROD_DTL_NM = #{PROD_DTL_NM}
	   </if>
	   ORDER BY PROD_ID
	</select>
	
	<insert id="insertMtrlsInfo" parameterType="java.util.HashMap" >
	/* MtrlsInfoMapper.insertMtrlsInfo */
		INSERT INTO hanadmin.mtrls_info
		(	
			PROD_ID
			, KIND
			, PROD_NM
			, PROD_DTL_NM
			, CREATE_DATE
			, CREATE_USER
			, UPDATE_DATE
			, UPDATE_USER
		)
		VALUES
		(
			#{PROD_ID}
			, #{KIND}
			, #{PROD_NM}
			, #{PROD_DTL_NM}
			, SYSDATE
			, #{CREATE_USER}
			, SYSDATE
			, #{UPDATE_USER}
		)
		
	</insert>
	
	<update id="updateMtrlsInfo" parameterType="java.util.HashMap">
	/* MtrlsInfoMapper.updateMtrlsInfo */
		UPDATE hanadmin.mtrls_info 
		   SET KIND = #{KIND}
			   , PROD_NM = #{PROD_NM}
			   , PROD_DTL_NM = #{PROD_DTL_NM}
			   , CREATE_DATE = SYSDATE
			   , CREATE_USER = #{CREATE_USER}
			   , UPDATE_DATE = SYSDATE
			   , UPDATE_USER = #{UPDATE_USER}
		WHERE 1=1
		<if test='PROD_ID != null and !PROD_ID.equals("")'>
	    	AND PROD_ID = #{PROD_ID}
	    </if>
	</update>
	
	<delete id="deleteMtrlsInfo" parameterType="java.util.HashMap">
	/* MtrlsInfoMapper.deleteMtrlsInfo */
		DELETE FROM hanadmin.mtrls_info 
		 WHERE 1=1 
		 <if test='PROD_ID != null and !PROD_ID.equals("")'>
	    	 AND PROD_ID = #{PROD_ID}
	     </if>
	</delete>

</mapper>