<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanManager.mapper.PackingStateMapper">

  <select id="selectPackingStateList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
  /** PackingStateMapper.selectPackingStateList **/
  SELECT client
	    , model_car
	    , product_name
	    , lh_rh
	    , product_id
	    , vehicle_id
	    , cast(work_type as CHAR) as work_type
	    , tot
	    , quantity2
	    , quantity
	    , stock_date
	    , plan_date
	    , (IFNULL(stock_day1, 0)+IFNULL(stock_day2, 0)+IFNULL(stock_day3, 0)+IFNULL(stock_day4, 0)+IFNULL(stock_day5, 0)+IFNULL(stock_day6, 0)+IFNULL(stock_day7, 0)+IFNULL(stock_day8, 0)+IFNULL(stock_day9, 0)+IFNULL(stock_day10, 0)) tot_output
	    , (IFNULL(plan_day2, 0)+IFNULL(plan_day3, 0)+IFNULL(plan_day4, 0)+IFNULL(plan_day5, 0)+IFNULL(plan_day6, 0)+IFNULL(plan_day7, 0)+IFNULL(plan_day8, 0)+IFNULL(plan_day9, 0)+IFNULL(plan_day10, 0)+IFNULL(plan_day11, 0)) tot_plan
	    , (IFNULL(stock_day1, 0)+IFNULL(stock_day2, 0)+IFNULL(stock_day3, 0)+IFNULL(stock_day4, 0)+IFNULL(stock_day5, 0)+IFNULL(stock_day6, 0)+IFNULL(stock_day7, 0)+IFNULL(stock_day8, 0)+IFNULL(stock_day9, 0)+IFNULL(stock_day10, 0))
	       - (IFNULL(plan_day2, 0)+IFNULL(plan_day3, 0)+IFNULL(plan_day4, 0)+IFNULL(plan_day5, 0)+IFNULL(plan_day6, 0)+IFNULL(plan_day7, 0)+IFNULL(plan_day8, 0)+IFNULL(plan_day9, 0)+IFNULL(plan_day10, 0)+IFNULL(plan_day11, 0)) + tot as tot_gap1 
	    <!-- , tot - (IFNULL(plan_day2, 0) + IFNULL(plan_day3, 0) + IFNULL(plan_day4, 0) + IFNULL(plan_day5, 0) + IFNULL(plan_day6, 0) + IFNULL(plan_day7, 0) + IFNULL(plan_day8, 0)) tot_gap1 -->
	    , (IFNULL(stock_day1, 0)+IFNULL(stock_day2, 0)+IFNULL(stock_day3, 0)+IFNULL(stock_day4, 0)+IFNULL(stock_day5, 0)+IFNULL(stock_day6, 0)+IFNULL(stock_day7, 0)+IFNULL(stock_day8, 0)+IFNULL(stock_day9, 0)+IFNULL(stock_day10, 0))
	       - (IFNULL(plan_day2, 0)+IFNULL(plan_day3, 0)+IFNULL(plan_day4, 0)+IFNULL(plan_day5, 0)+IFNULL(plan_day6, 0)+IFNULL(plan_day7, 0)+IFNULL(plan_day8, 0)+IFNULL(plan_day9, 0)+IFNULL(plan_day10, 0)+IFNULL(plan_day11, 0)) tot_gap2
	    , DATE_FORMAT(STR_TO_DATE(date_add( #{planDate}, interval -1 day), '%Y-%m-%d'), '%m/%d') day1
		, DATE_FORMAT(STR_TO_DATE(date_add( #{planDate}, interval 0 day), '%Y-%m-%d'), '%m/%d') day2
		, DATE_FORMAT(STR_TO_DATE(date_add( #{planDate}, interval 1 day), '%Y-%m-%d'), '%m/%d') day3
		, DATE_FORMAT(STR_TO_DATE(date_add( #{planDate}, interval 2 day), '%Y-%m-%d'), '%m/%d') day4
		, DATE_FORMAT(STR_TO_DATE(date_add( #{planDate}, interval 3 day), '%Y-%m-%d'), '%m/%d') day5
		, DATE_FORMAT(STR_TO_DATE(date_add( #{planDate}, interval 4 day), '%Y-%m-%d'), '%m/%d') day6
		, DATE_FORMAT(STR_TO_DATE(date_add( #{planDate}, interval 5 day), '%Y-%m-%d'), '%m/%d') day7
		, DATE_FORMAT(STR_TO_DATE(date_add( #{planDate}, interval 6 day), '%Y-%m-%d'), '%m/%d') day8
		, DATE_FORMAT(STR_TO_DATE(date_add( #{planDate}, interval 7 day), '%Y-%m-%d'), '%m/%d') day9
		, DATE_FORMAT(STR_TO_DATE(date_add( #{planDate}, interval 8 day), '%Y-%m-%d'), '%m/%d') day10
		, DATE_FORMAT(STR_TO_DATE(date_add( #{planDate}, interval 9 day), '%Y-%m-%d'), '%m/%d') day11
	    , stock_day1
		, stock_day2
		, stock_day3
		, stock_day4
		, stock_day5
		, stock_day6
		, stock_day7
		, stock_day8
		, stock_day9
		, stock_day10
		, stock_day11
		, plan_day1 
		, plan_day2 
		, plan_day3 
		, plan_day4 
		, plan_day5 
		, plan_day6 
		, plan_day7 
		, plan_day8 
		, plan_day9 
		, plan_day10 
		, plan_day11 
	    FROM (
			  SELECT client
				    , model_car
				    , product_name
				    , lh_rh
				    , product_id
				    , vehicle_id
				    , work_type
				    , tot
				    , quantity2
				    , quantity
				    , stock_date
				    , plan_date
					, max(IF(stock_date = date_add( #{planDate}, interval -1 day), `quantity2`, null)) AS stock_day1
					, max(IF(stock_date = date_add( #{planDate}, interval 0 day), `quantity2`, null)) AS stock_day2
					, max(IF(stock_date = date_add( #{planDate}, interval 1 day), `quantity2`, null)) AS stock_day3
					, max(IF(stock_date = date_add( #{planDate}, interval 2 day), `quantity2`, null)) AS stock_day4
					, max(IF(stock_date = date_add( #{planDate}, interval 3 day), `quantity2`, null)) AS stock_day5
					, max(IF(stock_date = date_add( #{planDate}, interval 4 day), `quantity2`, null)) AS stock_day6
					, max(IF(stock_date = date_add( #{planDate}, interval 5 day), `quantity2`, null)) AS stock_day7
					, max(IF(stock_date = date_add( #{planDate}, interval 6 day), `quantity2`, null)) AS stock_day8
					, max(IF(stock_date = date_add( #{planDate}, interval 7 day), `quantity2`, null)) AS stock_day9
					, max(IF(stock_date = date_add( #{planDate}, interval 8 day), `quantity2`, null)) AS stock_day10
					, max(IF(stock_date = date_add( #{planDate}, interval 9 day), `quantity2`, null)) AS stock_day11
					, max(IF(plan_date = date_add( #{planDate}, interval -1 day), `quantity`, null)) AS plan_day1
					, max(IF(plan_date = date_add( #{planDate}, interval 0 day), `quantity`, null)) AS plan_day2
					, max(IF(plan_date = date_add( #{planDate}, interval 1 day), `quantity`, null)) AS plan_day3
					, max(IF(plan_date = date_add( #{planDate}, interval 2 day), `quantity`, null)) AS plan_day4
					, max(IF(plan_date = date_add( #{planDate}, interval 3 day), `quantity`, null)) AS plan_day5
					, max(IF(plan_date = date_add( #{planDate}, interval 4 day), `quantity`, null)) AS plan_day6
					, max(IF(plan_date = date_add( #{planDate}, interval 5 day), `quantity`, null)) AS plan_day7
					, max(IF(plan_date = date_add( #{planDate}, interval 6 day), `quantity`, null)) AS plan_day8
					, max(IF(plan_date = date_add( #{planDate}, interval 7 day), `quantity`, null)) AS plan_day9
					, max(IF(plan_date = date_add( #{planDate}, interval 8 day), `quantity`, null)) AS plan_day10
					, max(IF(plan_date = date_add( #{planDate}, interval 9 day), `quantity`, null)) AS plan_day11
			    FROM (
					  SELECT *
					    FROM (
							  SELECT client
								   , model_car
								   , product_name
								   , lh_rh
								   , product_id
								   , days.vehicle_id
								   , tot
								   , quantity2
								   , quantity
								   , work_type
								   , plan_date
								   , stock_date
							   FROM (
								     SELECT client
									      , model_car
									      , product_name
									      , lh_rh
									      , product_id
									      , plan_date
									      , mobis_plan.work_type
									      , quantity
									      , stock_date
									      , mobis_plan.vehicle_id
									      , quantity2
								      FROM (
									 	    SELECT v.client
											     , v.model_car
											     , v.product_name
											     , v.lh_rh
											     , v.product_id
											     , v.vehicle_id
											     , p.plan_date
											     , p.work_type
											     , p.quantity
										      FROM packing_plan p
										      JOIN vehicle_management v 
										        ON p.product_id = v.product_id
									         GROUP BY p.product_id, p.plan_date
									) mobis_plan
							   LEFT JOIN (
									 SELECT a.vehicle_id
									      , stock_date
									      , work_type
									      , sum(a.quantity * -1) as quantity2
									   FROM stock a
									   JOIN vehicle_management b 
									     ON a.vehicle_id = b.vehicle_id
									  WHERE a.stock_gubun = 's012'
										AND b.kind = '完成品'
									  GROUP BY a.vehicle_id, stock_date
									) output_cnt 
								 ON mobis_plan.vehicle_id = output_cnt.vehicle_id) days
								/** 임시주석 AND mobis_plan.plan_date = output_cnt.stock_date) days **/
							   JOIN (
									 SELECT a.vehicle_id
										  , sum(quantity) tot
									   FROM stock a
									   LEFT JOIN vehicle_management b 
									     ON a.vehicle_id = b.vehicle_id
									  WHERE (a.stock_gubun != 's005'
										AND a.stock_gubun != 's003'
										AND a.stock_gubun != 's009')
									  GROUP BY a.vehicle_id
									  ) total 
								ON days.vehicle_id = total.vehicle_id) first_result
							 WHERE date_format(plan_date, '%Y%m%d') > date_add(#{planDate}, interval +10 day)
							   <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(clients)"> AND client = #{clients}</if>
							   <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(modelCar)"> AND model_car = #{modelCar}</if>
							   <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(productName)"> AND product_name = #{productName}</if>
							 ) middle_result
					GROUP BY client
						    , model_car
						    , product_name
						    , lh_rh
						    , product_id
						    , vehicle_id
						    , work_type
						    , tot
		) last_result
  </select>
  
</mapper>
