<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanManager.mapper.PackingInspectionMapper">

	<select id="selectPackingInspection" parameterType="PackingInspection" resultType="PackingInspection">
		SELECT
			a.e_id,
			a.inspection_date,
			a.jab_class,
            (select code_name from common_code where code = a.jab_class AND code_group='jab_class') as jab_class_name,
			a.work_type,
            (select code_name from common_code where code = a.work_type) as work_type_name,
            a.work_man1,
            a.work_man2,
            a.work_man3,
            a.work_man4,
            a.work_man5,
			a.is_check,
			a.check_user,
			a.check_date,
		    a.created,
		    a.last_modified
		FROM packing_inspection a
		WHERE a.e_id = #{eId}
	</select>
	
	<select id="selectPackingInspectionProduce" parameterType="PackingInspection" resultType="PackingInspectionProduce">
	    SELECT
	        ep.ep_id,
	        ep.vehicle_id,
	        ep.production,
	        ep.faulty_a,
	        ep.faulty_b,
	        ep.faulty_c,
	        ep.faulty_d,
	        ep.faulty_e,
	        ep.faulty_f,
	        ep.faulty_g,
	        ep.faulty_h,
	        ep.faulty_i,
	        ep.faulty_j,
	        ep.faulty_k,
	        ep.faulty_l,
	        ep.faulty,
	      (ep.production - ep.faulty) as complete,
	        vm.kind,
	        vm.product_name,
	        vm.model_car,
	        vm.lh_rh,
	        vm.product_id,
	        vm.client
	    FROM packing_inspection e
	    LEFT JOIN packing_inspection_produce ep ON (e.e_id=ep.e_id)
	    LEFT JOIN vehicle_management vm ON (ep.vehicle_id = vm.vehicle_id)
	    WHERE e.e_id = #{eId}
	  </select>

	<sql id="wherePackingInspectionPaging">
		<where>
			<!-- 검사일 -->
			<choose>
			    <when test="@com.hanManager.web.util.CommonUtil@isNotEmpty(dateStart) and @com.hanManager.web.util.CommonUtil@isNotEmpty(dateEnd)">
					AND REPLACE(e.inspection_date, '-', '') BETWEEN REPLACE(#{dateStart}, '-', '') AND REPLACE(#{dateEnd}, '-', '')
			    </when>
			    <when test="@com.hanManager.web.util.CommonUtil@isNotEmpty(dateStart)">
			    	AND REPLACE(e.inspection_date, '-', '') BETWEEN REPLACE(#{dateStart}, '-', '') AND '99999999'
			    </when>
			    <when test="@com.hanManager.web.util.CommonUtil@isNotEmpty(dateEnd)">
			    	AND REPLACE(e.inspection_date, '-', '') BETWEEN '00000000' AND REPLACE(#{dateEnd}, '-', '')
			    </when>
			</choose>
			<!-- 반 -->
			<if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(jabClass)">AND e.jab_class = #{jabClass}</if>
			<!-- 주/야간 -->
			<if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(workType)">AND e.work_type = #{workType}</if>
			<!-- 구분 -->
			<if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(kind)">AND vm.kind = #{kind} </if>
			<!-- 차종 -->
			<if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(modelCar)">AND vm.model_car = #{modelCar} </if>
			<!-- LH/RH -->
			<if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(lhRh)">AND vm.lh_rh = #{lhRh} </if>
			<!-- 품명 -->
			<if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(productName)">AND vm.product_name LIKE CONCAT('%',#{productName},'%') </if>
		</where>
	</sql>

	<select id="selectPackingInspectionList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT e.e_id,
			ep.vehicle_id,
			DATE_FORMAT(e.inspection_date, '%y-%m-%d') as inspection_date,
			e.jab_class,
            (select code_name from common_code where code = e.jab_class AND code_group='jab_class') as jab_class_name,
			e.work_type,
            (select code_name from common_code where code = e.work_type) as work_type_name,
            e.work_man1,
            e.work_man2,
            e.work_man3,
            e.work_man4,
            e.work_man5,
			ep.production,
			IF( ep.faulty_a=0, null, faulty_a) faulty_a,
	        IF( ep.faulty_b=0, null, faulty_b) faulty_b,
	        IF( ep.faulty_c=0, null, faulty_c) faulty_c,
	        IF( ep.faulty_d=0, null, faulty_d) faulty_d,
	        IF( ep.faulty_e=0, null, faulty_e) faulty_e,
	        IF( ep.faulty_f=0, null, faulty_f) faulty_f,
	        IF( ep.faulty_g=0, null, faulty_g) faulty_g,
	        IF( ep.faulty_h=0, null, faulty_h) faulty_h,
	        IF( ep.faulty_i=0, null, faulty_i) faulty_i,
	        IF( ep.faulty_j=0, null, faulty_j) faulty_j,
	        IF( ep.faulty_k=0, null, faulty_k) faulty_k,
			IF( ep.faulty_l=0, null, faulty_l) faulty_l,
			ep.faulty,
			(ep.production - ep.faulty) as complete,
			e.is_check,
			e.check_user,
			e.check_date,
		    vm.kind,
		    vm.model_car,
		    vm.product_name,
		    vm.lh_rh,
		    vm.product_id,
		    vm.client,
		    c.cnt
	    FROM packing_inspection e
	    LEFT JOIN packing_inspection_produce ep ON (e.e_id=ep.e_id)
	    LEFT JOIN vehicle_management vm ON (ep.vehicle_id = vm.vehicle_id)
	    LEFT JOIN
	       (SELECT b.e_id, count(b.e_id) cnt
	            FROM (SELECT e.e_id
			          FROM packing_inspection e
			          LEFT JOIN packing_inspection_produce ep ON (e.e_id=ep.e_id)
			          LEFT JOIN vehicle_management vm ON (ep.vehicle_id = vm.vehicle_id)
			          <choose>
					      <when test="@com.hanManager.web.util.CommonUtil@isEmpty(orderBy)">
					        ORDER BY e.inspection_date DESC, e.e_id, ep.ep_id
					      </when>
					        <when test="@com.hanManager.web.util.CommonUtil@isNotEmpty(orderBy)">
					        ORDER BY ${orderBy}
					      </when>
					 </choose>
	                 <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(startNum) and @com.hanManager.web.util.CommonUtil@isNotEmpty(pageCutNum)">LIMIT #{startNum}, #{pageCutNum}</if>
	                ) b  GROUP BY b.e_id
	        ) c
	    ON e.e_id = c.e_id
	    <include refid="wherePackingInspectionPaging"/>
	    <choose>
	      <when test="@com.hanManager.web.util.CommonUtil@isEmpty(orderBy)">
			ORDER BY e.inspection_date DESC, e.e_id, ep.ep_id
	      </when>
	        <when test="@com.hanManager.web.util.CommonUtil@isNotEmpty(orderBy)">
	        ORDER BY ${orderBy}
	      </when>
	    </choose>
	    <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(startNum) and @com.hanManager.web.util.CommonUtil@isNotEmpty(pageCutNum)">LIMIT #{startNum}, #{pageCutNum}</if>
	</select>

	<select id="selectPackingInspectionPagingCount" parameterType="java.util.HashMap" resultType="Integer">
		SELECT count(*)
		  FROM packing_inspection e
		  LEFT JOIN packing_inspection_produce ep ON (e.e_id=ep.e_id)
		  LEFT JOIN vehicle_management vm ON (ep.vehicle_id = vm.vehicle_id)
		  <include refid="wherePackingInspectionPaging"/>
	</select>

	<select id="selectPackingInspectionPagingList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT e.e_id,
			ep.vehicle_id,
			DATE_FORMAT(e.inspection_date, '%y-%m-%d') as inspection_date,
			e.jab_class,
            (select code_name from common_code where code = e.jab_class AND code_group='jab_class') as jab_class_name,
			e.work_type,
            (select code_name from common_code where code = e.work_type) as work_type_name,
            e.work_man1,
            e.work_man2,
            e.work_man3,
            e.work_man4,
            e.work_man5,
			ep.production,
			IF( ep.faulty_a=0, null, faulty_a) faulty_a,
	        IF( ep.faulty_b=0, null, faulty_b) faulty_b,
	        IF( ep.faulty_c=0, null, faulty_c) faulty_c,
	        IF( ep.faulty_d=0, null, faulty_d) faulty_d,
	        IF( ep.faulty_e=0, null, faulty_e) faulty_e,
	        IF( ep.faulty_f=0, null, faulty_f) faulty_f,
	        IF( ep.faulty_g=0, null, faulty_g) faulty_g,
	        IF( ep.faulty_h=0, null, faulty_h) faulty_h,
	        IF( ep.faulty_i=0, null, faulty_i) faulty_i,
	        IF( ep.faulty_j=0, null, faulty_j) faulty_j,
	        IF( ep.faulty_k=0, null, faulty_k) faulty_k,
			IF( ep.faulty_l=0, null, faulty_l) faulty_l,
			ep.faulty,
			(ep.production - ep.faulty) as complete,
			e.is_check,
			e.check_user,
			e.check_date,
		    vm.kind,
		    vm.model_car,
		    vm.product_name,
		    vm.lh_rh,
		    vm.product_id,
		    vm.client,
		    c.cnt
	    FROM packing_inspection e
	    LEFT JOIN packing_inspection_produce ep ON (e.e_id=ep.e_id)
	    LEFT JOIN vehicle_management vm ON (ep.vehicle_id = vm.vehicle_id)
	    LEFT JOIN
	       (SELECT b.e_id, count(b.e_id) cnt
	            FROM (SELECT e.e_id
			          FROM packing_inspection e
			          LEFT JOIN packing_inspection_produce ep ON (e.e_id=ep.e_id)
			          LEFT JOIN vehicle_management vm ON (ep.vehicle_id = vm.vehicle_id)
			          <choose>
					      <when test="@com.hanManager.web.util.CommonUtil@isEmpty(orderBy)">
					        ORDER BY e.inspection_date DESC, e.e_id, ep.ep_id
					      </when>
					        <when test="@com.hanManager.web.util.CommonUtil@isNotEmpty(orderBy)">
					        ORDER BY ${orderBy}
					      </when>
					 </choose>
	                 <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(startNum) and @com.hanManager.web.util.CommonUtil@isNotEmpty(pageCutNum)">LIMIT #{startNum}, #{pageCutNum}</if>
	                ) b  GROUP BY b.e_id
	        ) c
	    ON e.e_id = c.e_id
	    <include refid="wherePackingInspectionPaging"/>
	    <choose>
	      <when test="@com.hanManager.web.util.CommonUtil@isEmpty(orderBy)">
			ORDER BY e.inspection_date DESC, e.e_id, ep.ep_id
	      </when>
	        <when test="@com.hanManager.web.util.CommonUtil@isNotEmpty(orderBy)">
	        ORDER BY ${orderBy}
	      </when>
	    </choose>
	    <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(startNum) and @com.hanManager.web.util.CommonUtil@isNotEmpty(pageCutNum)">LIMIT #{startNum}, #{pageCutNum}</if>
	</select>
	
    <insert id="insertPackingInspection" parameterType="PackingInspection" useGeneratedKeys="true" keyProperty="eId">
		INSERT INTO packing_inspection
		(inspection_date, jab_class, work_type, work_man1, work_man2, work_man3, work_man4, work_man5, created, last_modified)
		VALUES
		(STR_TO_DATE(#{inspectionDate}, '%Y-%m-%d'), #{jabClass}, #{workType}, #{workMan1}, #{workMan2}, #{workMan3}, #{workMan4}, #{workMan5}, now(), now())
	</insert>
	
	<insert id="insertPackingInspectionProduce" parameterType="PackingInspectionProduce" useGeneratedKeys="true" keyProperty="epId">
	    INSERT INTO packing_inspection_produce
	    (e_id, vehicle_id, production, faulty, faulty_a, faulty_b, faulty_c, faulty_d, faulty_e, faulty_f, faulty_g, faulty_h, faulty_i, faulty_j, faulty_k, faulty_l)
	    VALUES
	    (#{eId}, #{vehicleId}, #{production}, #{faulty}, #{faultyA}, #{faultyB}, #{faultyC}, #{faultyD}, #{faultyE}, #{faultyF}, #{faultyG}, #{faultyH}, #{faultyI}, #{faultyJ}, #{faultyK}, #{faultyL})
 	</insert>

    <update id="updatePackingInspection" parameterType="PackingInspection">
        UPDATE packing_inspection
		SET last_modified = now()
		<if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(inspectionDate)">, inspection_date = STR_TO_DATE(#{inspectionDate}, '%Y-%m-%d')</if>
		<if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(jabClass)">, jab_class = #{jabClass}</if>
		<if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(workType)">, work_type = #{workType}</if>
		<if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(workMan1)">, work_Man1 = #{workMan1}</if>
		<if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(workMan2)">, work_Man2 = #{workMan2}</if>
		<if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(workMan3)">, work_Man3 = #{workMan3}</if>
		<if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(workMan4)">, work_Man4 = #{workMan4}</if>
		<if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(workMan5)">, work_Man5 = #{workMan5}</if>
		WHERE e_id = #{eId}
    </update>
    
    <update id="updatePackingInspectionProduce" parameterType="PackingInspectionProduce">
    	UPDATE packing_inspection_produce
	    SET last_modified = now()
	    <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(production)">, production = #{production}</if>
	    <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(faulty)">, faulty = #{faulty}</if>
	    <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(faultyA)">, faulty_a = #{faultyA}</if>
	    <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(faultyB)">, faulty_b = #{faultyB}</if>
	    <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(faultyC)">, faulty_c = #{faultyC}</if>
	    <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(faultyD)">, faulty_d = #{faultyD}</if>
	    <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(faultyE)">, faulty_e = #{faultyE}</if>
	    <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(faultyF)">, faulty_f = #{faultyF}</if>
	    <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(faultyG)">, faulty_g = #{faultyG}</if>
	    <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(faultyH)">, faulty_h = #{faultyH}</if>
	    <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(faultyI)">, faulty_i = #{faultyI}</if>
	    <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(faultyJ)">, faulty_j = #{faultyJ}</if>
	    <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(faultyK)">, faulty_k = #{faultyK}</if>
	    <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(faultyL)">, faulty_l = #{faultyL}</if>
	    WHERE e_id = #{eId} AND ep_id = #{epId}
    </update>

    <update id="confirmPackingInspection" parameterType="PackingInspection">
        UPDATE packing_inspection
		SET is_check=#{isCheck}, check_user=#{checkUser}, check_date=now()
		WHERE e_id = #{eId}
    </update>

    <delete id="deletePackingInspectionProduce" parameterType="java.util.HashMap">
        DELETE FROM packing_inspection_produce
		<where>
			<if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(eId)">e_id = #{eId}</if>
		</where>
    </delete>
    
    <delete id="deletePackingInspection" parameterType="java.util.HashMap">
        DELETE FROM packing_inspection
		<where>
			<if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(eId)">e_id = #{eId}</if>
		</where>
    </delete>

	<select id="useVehicle" parameterType="String" resultType="Integer">
		SELECT count(*)
		FROM packing_inspection
		WHERE vehicle_id = #{vehicleId}
	</select>

</mapper>