<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanManager.mapper.PrdtInfoMapper">

	<!-- 콤보박스 셋 START -->
	<select id="selectPrdtProdNm" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT prod_nm
		  FROM HANADMIN.PRDT_INFO mi 
		 WHERE 1=1
		 <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(KIND)">
		   AND mi.kind = #{KIND}
		 </if>
	</select>
	
	<select id="selectPrdtProdDtlNm" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT prod_dtl_nm 
		  FROM HANADMIN.PRDT_INFO mi 
		 WHERE 1=1
		 <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(KIND)">
		   AND mi.kind = #{KIND}
		 </if>
		 <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(PROD_NM)"> 
		   AND mi.prod_nm = #{PROD_NM}
		 </if>
	</select>
	
	<select id="selectPrdtProdId" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT prod_id 
		  FROM HANADMIN.PRDT_INFO mi 
		 WHERE 1=1
		 <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(KIND)">
		   AND mi.kind = #{KIND}
		 </if>
		 <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(PROD_NM)"> 
		   AND mi.prod_nm = #{PROD_NM}
		 </if>
		 <if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(PROD_DTL_NM)">
		   AND mi.prod_dtl_nm = #{PROD_DTL_NM}
		 </if>  
	</select>
	<!-- 콤보박스 셋 END -->
	
	<select id="selectPrdtInfoList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
	/* PrdtInfoMapper.selectPrdtInfoList */
		SELECT PROD_ID
			, KIND
			, PROD_NM
			, PROD_DTL_NM
			, CLIENT
			, OUT_PRICE
			, SH_PRICE
			, BIGO
			, to_char(CREATE_DATE, 'YYYY.MM.DD') CREATE_DATE
			, CREATE_USER
			, to_char(UPDATE_DATE, 'YYYY.MM.DD') UPDATE_DATE
			, UPDATE_USER
		FROM hanadmin.prdt_info
	   WHERE 1=1
	   <if test='PROD_ID != null and !PROD_ID.equals("")'>
	   	   AND PROD_ID = #{PROD_ID}
	   </if>
	   <if test='KIND != null and !KIND.equals("")'>
	   	   AND KIND = #{KIND}
	   </if>
	   <if test='PROD_NM != null and !PROD_NM.equals("")'>
	   	   AND PROD_NM = #{PROD_NM}
	   </if>
	   <if test='PROD_DTL_NM != null and !PROD_DTL_NM.equals("")'>
	   	   AND PROD_DTL_NM = #{PROD_DTL_NM}
	   </if>
	   ORDER BY PROD_ID
	</select>
	
	<insert id="insertPrdtInfo" parameterType="java.util.HashMap" >
	/* PrdtInfoMapper.insertPrdtInfo */
		INSERT INTO hanadmin.prdt_info
		(	
			PROD_ID
			, KIND
			, PROD_NM
			, PROD_DTL_NM
			, CLIENT
			, OUT_PRICE
			, SH_PRICE
			, BIGO
			, CREATE_DATE
			, CREATE_USER
			, UPDATE_DATE
			, UPDATE_USER
		)
		VALUES
		(
			#{PROD_ID}
			, #{KIND}
			, #{PROD_NM}
			, #{PROD_DTL_NM}
			, #{CLIENT}
			, #{OUT_PRICE}
			, ''
			, #{BIGO}
			, SYSDATE
			, #{CREATE_USER}
			, SYSDATE
			, #{UPDATE_USER}
		)
		
	</insert>
	
	<update id="updatePrdtInfo" parameterType="java.util.HashMap">
	/* PrdtInfoMapper.updatePrdtInfo */
		UPDATE hanadmin.prdt_info 
		   SET KIND = #{KIND}
			   , PROD_NM = #{PROD_NM}
			   , PROD_DTL_NM = #{PROD_DTL_NM}
			   , CLIENT = #{CLIENT}
			   , OUT_PRICE = #{OUT_PRICE}
			   <!-- , SH_PRICE = #{SH_PRICE} -->
			   , BIGO = #{BIGO}
			   , CREATE_DATE = SYSDATE
			   , CREATE_USER = #{CREATE_USER}
			   , UPDATE_DATE = SYSDATE
			   , UPDATE_USER = #{UPDATE_USER}
		WHERE 1=1
		<if test='PROD_ID != null and !PROD_ID.equals("")'>
	    	AND PROD_ID = #{PROD_ID}
	    </if>
	</update>
	
	<delete id="deletePrdtInfo" parameterType="java.util.HashMap">
	/* PrdtInfoMapper.deletePrdtInfo */
		DELETE FROM hanadmin.prdt_info 
		 WHERE 1=1 
		 <if test='PROD_ID != null and !PROD_ID.equals("")'>
	    	 AND PROD_ID = #{PROD_ID}
	     </if>
	</delete>

</mapper>