<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hanManager.mapper.UsersMapper">

	<select id="selectUser" parameterType="Users" resultType="Users">
	/* UsersMapper.selectUser */
		SELECT A.user_id,
			A.user_pwd,
			A.user_role,
			A.user_name,
			A.user_state,
			A.created,
			A.last_modified
		FROM hanadmin.users A
		<where>
			<if test="@com.hanManager.web.util.CommonUtil@isNotEmpty(userId)">AND A.user_id = #{userId}</if>
		</where>
	</select>
	
	<update id="updateUserPW" parameterType="Users">
	/* UsersMapper.updateUserPW */
		UPDATE hanadmin.users
		   SET USER_PWD = #{userPwd}
			 , LAST_MODIFIED = SYSDATE
		WHERE 1=1
		<if test='@com.hanManager.web.util.CommonUtil@isNotEmpty(userId)'>
	    	AND USER_ID = #{userId}
	    </if>
	</update>

</mapper>