<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- <setting name="autoMappingBehavior" value="FULL"/> -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <setting name="logImpl" value="LOG4J"/>
        <setting name="jdbcTypeForNull" value="NULL"/>
        <setting name="callSettersOnNulls" value="true"/>
    </settings>

    <!-- 생략가능-->

    <typeAliases>
        <package name="com.hanManager.domain"/>
    </typeAliases>

    <mappers>
        <package name="com.hanManager.mapper"/>
    </mappers>


</configuration>